{% extends 'base.html' %}
{% block contenu %}
    {% load static %}
        <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 py-5 ">
                <div class="card bg-light mb-3 ">
                    <div class="card-header">
                        Voir le Triathlon
                    </div>
                    <form method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-sm">Enregistrer les modifications</button>
                        </form>


                    </div>
                    <div class="card-body text-center">

                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalSupprTriathlon" >Supprimer</button>
                    </div>



                </div>

            </div>
        </div>
    </div>



{% endblock %}


