{% extends 'base.html' %}
{% block contenu %}
    {% load static %}
    {% load filters %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 py-5 ">
                <div class="card bg-light mb-3 ">
                    <div class="card-header">
                        Détails
                    </div>
                    <div class="card-body">

                        <table class="table table-user-information">
                            <tr>
                                <td>SIRET :</td>
                                <td>{{ sponsor.siret }}</td>
                            </tr>
                            <tr>
                                <td>Raison social :</td>
                                <td>{{ sponsor.raisonSocial }}</td>
                            </tr>
                            <tr>
                                <td>Adresse : </td>
                                <td>{{ sponsor.adresse }}</td>
                            </tr>

                            <tr>
                            <tr>
                                <td>Code postal :</td>
                                <td>{{sponsor.codePostal }}</td>
                            </tr>
                            <tr>
                                <td>Ville</td>
                                <td>{{ sponsor.ville }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="mailto:{{ sponsor.email }}">{{ sponsor.email }}</a></td>
                            </tr>
                            <td>Téléphone :</td>
                            <td>{{ sponsor.telephoneFixe }} (Fixe)<br><br>{{ sponsor.telephoneFixe }} (Portable)
                            </td>

                            </tr>
                        </table>

                    </div>
                    <div class="card-body text-center">
                        <a class="button btn btn-link"  href="{% url 'editerSponsor' sponsor.pk %}">Modifier </a>

                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalSupprSponsor">Supprimer</button>
                    </div>
                    <div class="card-header">
                        Donation
                    </div>

                    <div class="card-body">
                        <div class="row card-group">
                            <div class="col-sm-4">
                                <div class="card btn" data-toggle="modal" data-target="#modalAjoutDon">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Ajouter donation</h5>
                                        <h1 class="card-text">+</h1>
                                    </div>
                                </div>
                            </div>

                            {% for donation in listDonationSponsor %}
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-header text-center">
                                            <small class="text-muted">Ajouté le : {{ donation.dateAjout }}</small>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ donation.fk_triathlon }}</h5>
                                            <h1 class="card-text text-center">{{ donation.donation }} €</h1>
                                        </div>
                                        <div class="card-footer text-center">
                                            <button type="button" class="btn btn-link">Modifier</button>
                                            <button type="button" class="btn btn-link"
                                                    data-toggle="modal" data-target="#modalSupprDonation"
                                                    data-whatever="{{donation.id }}" data-model-name="">Supprimer {{donation.id }}</button>
                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ajouté le 18 mars 2018</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal ajout donation -->
    <div class="modal fade" id="modalAjoutDon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une donation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">{% csrf_token %}
                        {{ request.session.idTriathlon | getTriathlonEnCours }}
                        {{ sponsor.siret}}
                        {{ donationForm.donation }}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--fin bouton ajout-->


    <!-- Modal suppimer sponsor -->
    <div class="modal fade" id="modalSupprSponsor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Voulez-vous supprimer le sponsor<br>
                        {{ sponsor.raisonSocial}}<br>
                    pour tous les triathlons ?
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <form action="{% url 'deleteSponsor' sponsor.siret  %}">
                                 <button class="btn btn-primary" >Supprimer</button>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin bouton suppr-->



{% endblock %}

