{% extends 'base.html' %}
{% block contenu %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 py-5 ">
            <div class="card bg-light mb-3 ">
                <div class="card-header">
                    <form method="POST">{% csrf_token %}


                        <div class="container-fluid">

                            <div class="row form-group">
                                <label for="message-text" class="form-control-label">Nom:</label>
                                {{ form.nom }}
                            </div>

                            <div class="row form-group">
                                <label for="message-text" class="form-control-label">Prenom:</label>
                                {{ form.prenom }}
                            </div>

                            <div class="row ">
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">
                                                <img class="iconeadmin" alt="messagerie"
                                                     src="{% static 'img/date.png' %}">
                                                Date de naissance
                                            </label>
                                        </div>
                                        {{ form.dateNaissance }}
                                    </div>
                            </div>

                                <div class="row">
                                    <div class="input-group mb-1">
                                        {{ form.sexe }}
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect02">Sexe</label>
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="input-group  mb-1">
                                    <div class="input-group-prepend  ">
                                        <label class="input-group-text">
                                            <img class="iconeadmin" alt="messagerie"
                                                 src="{% static 'img/home-8x.png' %}">
                                            Adresse
                                        </label>
                                    </div>
                                    {{ form.adresse }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="input-group">
                                    <div class="input-group-prepend  ">
                                        <label class="input-group-text">
                                            <img class="iconeadmin" alt="messagerie"
                                                 src="{% static 'img/home-8x.png' %}">
                                            Cp
                                        </label>
                                    </div>
                                    {{ form.codePostal }}

                                    <div class="input-group-prepend">
                                        <label class="input-group-text col-form-label">
                                            <img class="iconeadmin" alt="messagerie"
                                                 src="{% static 'img/home-8x.png' %}">
                                            Ville
                                        </label>
                                    </div>
                                    {{ form.ville }}
                                </div>
                            </div>

                            <div class="row">
                                    <div class="input-group  mb-1">
                                        <div class="input-group-prepend  ">
                                            <label class="input-group-text">
                                                <img class="iconeadmin" alt="messagerie"
                                                     src="{% static 'img/tel_fix.png' %}">
                                                Téléphone Fixe :
                                            </label>
                                        </div>
                                        {{ form.telephoneFixe }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group  mb-1">
                                        <div class="input-group-prepend  ">
                                            <label class="input-group-text">
                                                <img class="iconeadmin" alt="messagerie"
                                                     src="{% static 'img/phone-8x.png' %}">
                                                Téléphone Portable :
                                            </label>
                                        </div>
                                        {{ form.telephonePortable }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group  mb-1">
                                        <div class="input-group-prepend  ">
                                            <label class="input-group-text">
                                                <img class="iconeadmin" alt="messagerie"
                                                     src="{% static 'img/email.png' %}">
                                                mail :
                                            </label>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group mb-1">
                                        {{ form.status }}
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect02">Statut :</label>
                                        </div>
                                    </div>
                                </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Enregistrer</button>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

       <!-- script pour les selecteurs de date-->
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="datepicker"]').datepicker({
                format: 'yyyy-mm-dd',
                autoHide: true,
                zIndex: 2048,
            });
        });
    </script>


{% endblock %}