{% extends 'base.html' %}
{% block contenu %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 py-5 ">
                <div class="card bg-light mb-3 ">
                    <div class="card-header">
                        Détails
                    </div>
                    <div class="card-body">

                        <table class="table table-user-information">
                            <tr>
                                <td>Status :</td>
                                <td>{{ Benevole.status }}</td>
                            </tr>
                            <tr>
                                <td>Nom :</td>
                                <td>{{ Benevole.nom }}</td>
                            </tr>
                            <tr>
                                <td>Prénom :</td>
                                <td>{{ Benevole.prenom }}</td>
                            </tr>
                            <tr>
                                <td>Date de naissance</td>
                                <td>{{ Benevole.dateNaissance }}</td>
                            </tr>
                            <tr>
                                <td>Sexe :</td>
                                <td>{{ Benevole.sexe }}</td>
                            </tr>
                            <tr>
                                <td>Adresse :</td>
                                <td>{{ Benevole.adresse }}</td>
                            </tr>
                            <tr>
                                <td>Code Postal :</td>
                                <td>{{ Benevole.codePostal }}</td>
                            </tr>
                            <tr>
                                <td>ville :</td>
                                <td>{{ Benevole.ville }}</td>
                            </tr>
                            <tr>
                                <td>Téléphone fixe :</td>
                                <td>{{ Benevole.telephoneFixe }}</td>
                            </tr>
                            <tr>
                                <td>Téléphone Mobile :</td>
                                <td>{{ Benevole.telephonePortable }}</td>
                            </tr>
                            <tr>
                                <td>Mail :</td>
                                <td>{{ Benevole.email }}</td>
                            </tr>


                            </tr>
                        </table>

                    </div>
                    <div class="card-body text-center">
                        <a class="button btn btn-link" href="{% url 'editerBenevole' Benevole.pk %}">Modifier </a>
                        <button type="button" class="btn btn-link" data-toggle="modal"
                                data-target="#modalSupprBenevole">Supprimer
                        </button>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">{{ Intervenant.dateAjout }}</small>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Modal suppimer benevole -->
    <div class="modal fade" id="modalSupprBenevole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Voulez-vous supprimer le bénévole<br>
                    {{ Benevole.nom }} {{ Benevole.prenom }}<br>
                    pour tous les triathlons ?
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <form action="{% url 'deleteBenevole' Benevole.pk %}">
                            <button class="btn btn-primary">Supprimer</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin bouton benevole-->
{% endblock %}

