{% block modal %}
    {% load static %}
    <button type="button" class="btn btn-primary ajouter" data-toggle="modal" data-target="#demo-1">+</button>

    <!-- [ Modal #1 ] -->
    <div class="modal fade" id="demo-1" tabindex="-1" role="dialog" style="display:none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un devis</h5>
                </div>
                <form action="{% url 'ajouterDevis' %}" class="ui form" method="POST">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="input-group mb-1">
                                        {{ devisForm.devis }}
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect03">Devis</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group mb-1">
                                        {{ devisForm.prixDevis }}
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect03">Prix en €</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-group mb-1">

                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect03">Intervenant</label>
                                        </div>
                                        {{ devisForm.fk_intervenant }}

                                        <a class="btn" data-toggle="modal" data-target="#demo-2"
                                           data-dismiss="modal">
                                            <img class="messagerie2" alt="messagerie"
                                                 src="{% static 'img/plus-8x.png' %}">
                                            Ajouter un Intervenant
                                        </a>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <!-- <button type="button" class="btn btn-primary">Ajouter</button> -->
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- [ Modal #2 ] -->
    <div class="modal fade" id="demo-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="false" style="overflow: auto !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter
                        {% if  '/sponsor/' in request.path %}un sponsor{% endif %}
                        {% if  '/intervenant/' in request.path %}un intervenant{% endif %}
                        {% if  '/benevole/' in request.path %}un benevole{% endif %}
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="ui form" method="POST">
                        {% csrf_token %}
                        {{ form }}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>


                        {% if successful_submit == True %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#demo-1").modal('show');
        });
    </script>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--fin bouton ajout-->

{% endif %}


{% endblock %}