{% block modal %}
    {% load static %}


    <!--bouton ajout-->
    <button type="button" class="btn btn-primary ajouter" data-toggle="modal" data-target="#exampleModal">+</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="ui form" method="POST">{% csrf_token %}

                        <div class="container-fluid">
                            <div class="row">
                                <div class ="input-group  mb-1">
                                    <div class="input-group-prepend  ">
                                        <label class="input-group-text">
                                            <img class="iconeadmin" alt="tache" src="{% static 'img/task-8x-black.png' %}">
                                            Nom
                                        </label>
                                    </div>
                                  {{ form.nomTache }}
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="message-text" class="form-control-label">Description :</label>
                                {{ form.description }}
                            </div>
                             <div class="row ">
                                <div class ="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">
                                            <img class="iconeadmin" alt="messagerie" src="{% static 'img/date.png' %}">
                                            Date de début
                                        </label>
                                    </div>
                                    {{ form.dateDebut }}
                                </div>
                            </div>

                             <div class="row ">
                                <div class ="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">
                                            <img class="iconeadmin" alt="messagerie" src="{% static 'img/date.png' %}">
                                            Date de fin
                                        </label>
                                    </div>
                                    {{ form.dateFin }}
                                </div>
                            </div>

                             <div class="row ">
                                <div class ="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">
                                            <img class="iconeadmin" alt="messagerie" src="{% static 'img/date.png' %}">
                                            Date de rappel
                                        </label>
                                    </div>
                                    {{ form.dateRappel }}
                                </div>
                            </div>

                            <div class="row">
                                <div class ="input-group mb-1">
                                   {{ form.niveauAvancement }}
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect03">Avancement</label>
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class ="input-group mb-1">
                                   {{ form.niveauPriorite }}
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect03">Priorité</label>
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class ="input-group mb-1">
                                   {{ form.fk_benevole }}
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect03">Benevole</label>
                                    </div>
                                </div>
                            </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--fin bouton ajout-->

        <!-- script pour les selecteurs de date-->
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="datepicker"]').datepicker({
                format: 'yyyy-mm-dd',
                autoHide: true,
                zIndex: 2048,
            });
        });
    </script>
{% endblock %}