@charset "ISO-8859-1";
.datepicker{
	position:relative;
	z-index:10;
}
.ligne_verticale
{
    width:1px;
    border-left:1px solid white;
}
.ajouter{
	position: fixed;
	bottom: 32px;
	right: 32px;
	border-radius:50%;
	width:45px;
	height:45px;
	line-height:1em; /* centrage vertical */
	text-align:center; /* centrage horizontal */
	box-shadow: 2px 2px 3px #aaa;
	padding: 0;
	margin: 0;
	vertical-align:middle;
}

.card{
	margin-bottom: 10px;
}
.panneauHaut{
	height: 32px;
}
.espaceModale{
	margin-bottom: 32px;
}

.logoit {
	width: 3em;
	height: 3em;
}
.messagerie {
	width: 2em;
	height: 2em;
}
.compte {
	width: 2em;
	height: 2em;
}
.iconeadmin{
	vertical-align:middle;
	width: 1em;
	height: 1em;
	margin-right: 12px;

}
#noti_Counter {
    position: relative;
    background: #E1141E;
    color: #FFF;
	  font-size: 10px;
    font-weight: 400;
    padding: 2px;
    margin: 0em -4em 0em 2em;
		border:none;
  	border-radius:8px;
    z-index: 1;
		top: 1em;
}
