<!DOCTYPE html>
<html lang="fr">
{% block head %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>IronTask</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/templates/menu.css' %}" rel="stylesheet">
        <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
        <link href="{% static 'css/clockpicker.css' %}" rel="stylesheet">
        <link href="{% static 'css/standalone.css.css' %}" rel="stylesheet">
        <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/clockpicker.js' %}"></script>

    </head>
    <body>
    {% block navBar %}
        {% include 'navBar.html' %}
    {% endblock %}
    {% include 'modalLogOut.html' %}
    {% include 'modalAjoutTriathlon.html' %}







{% endblock %}



{% block contenu %}

{% endblock %}

</body>
</html>