<!DOCTYPE html>
<html lang="fr">
{% block head %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>IronTask</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/templates/menu.css' %}" rel="stylesheet">
        <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
    </head>
    <body>
    {% with request.resolver_match.url_name as url_name %}
        <header class="navbar navbar-dark bg-primary navbar-expand-md bg-faded justify-content-center">
            <img class="logoit" alt="logo" src="{% static 'img/logo.png' %}"> <a href="/"
                                                                                 class="navbar-brand d-flex mr-auto">IronTask</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav mx-auto w-100 justify-content-center">
                    <li class="nav-item dropdown px-3"><a
                            class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> Triathlon </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Triathlon du 01.01.2017</a>
                            <a class="dropdown-item" href="#">Triathlon du 02.02.2018</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalAjoutTriathlon"> <img class="iconeadmin" alt="messagerie"
                                                                                                                           src="{% static 'img/ajouter2.png' %}">Ajouter
                                un Triathlon</a>
                        </div>
                    </li>
                    <li class="nav-item  px-3 "><a class="nav-link" href="#">Tâches
                        <span class="sr-only">(current)</span>
                    </a></li>
                    <li class="ligne_verticale"></li>
                    <li class="nav-item {% if url_name == 'listSponsor' %}active{% endif %} px-3"><a class="nav-link" href="{% url 'listSponsor' %}">Personnels</a></li>
                    <li class="ligne_verticale"></li>
                    <li class="nav-item  px-3"><a class="nav-link" href="#">Stocks</a></li>
                </ul>
                <ul class="navbar-nav ml-auto w-100 justify-content-end">

                    <li class="nav-item px-3 ">
                        <a class="nav-link" href="#">
                            <span id="noti_Counter">70</span>

                            <img class="messagerie" alt="messagerie" src="{% static 'img/mail.png' %}"></a></li>


                    <li class="nav-item dropdown px-3"><a
                            class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img class="compte" alt="messagerie"
                                                                            src="{% static 'img/admin.png' %}">
                        Nom Prénom</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="#"><img class="iconeadmin" alt="messagerie"
                                                                   src="{% static 'img/moncompte.png' %}">Mon
                                compte</a>
                            <a class="dropdown-item" href="#"><img class="iconeadmin" alt="messagerie"
                                                                   src="{% static 'img/parametres.png' %}">Paramètres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout_user' %}" data-toggle="modal" data-target="#logoutModal"><img class="iconeadmin" alt="messagerie" src="{% static 'img/logout.png' %}">Se
                                déconnecter</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        <!-- Modale logout-->

        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Déconnexion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr(e) de vouloir vous déconnecter ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href={% url 'logout_user' %}">Se déconnecter</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Ajout Triathlon -->
        <div class="modal fade" id="modalAjoutTriathlon" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un triathlon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="row form-group">
                                    <label for="recipient-name2" class="form-control-label">Nom triathlon :</label>
                                    <input type="text" class="form-control" id="recipient-name2">
                                </div>
                                <div class="row form-group">
                                    <label for="message-text" class="form-control-label">Description :</label>
                                    <textarea class="form-control" id="message-text2"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label for="adresse" class="col-2 col-form-label">Adr :</label>
                                    <input class="form-control col-10" type="text" value="Adresse" id="adresse">
                                </div>
                                <div class="form-group row">
                                    <label for="cp" class="col-2 col-form-label">Cp :</label>
                                    <input class="form-control col-3" type="text" value="9999" id="cp">
                                    <label for="ville" class="col-2 col-form-label">Ville :</label>
                                    <input class="form-control col-5" type="text" value="Ville" id="ville">
                                </div>

                                <div class="row ">
                                    <div class ="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"><img class="iconeadmin" alt="messagerie" src="{% static 'img/date.png' %}">Date triathlon</label>
                                        </div>
                                        <input type="text" class="form-control" data-toggle="datepicker">
                                    </div>
                                </div>
                                <div class="row espaceModale">
                                    <div class ="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"><img class="iconeadmin" alt="messagerie" src="{% static 'img/time.png' %}">Heure</label>
                                        </div>
                                        <input class="form-control" type="time"  >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class ="input-group mb-1">
                                        <select class="custom-select" id="inputGroupSelect03">
                                            <option selected>Choix...</option>
                                            <option value="1">Distance S </option>
                                            <option value="2">Distance M </option>
                                            <option value="3">Distance L </option>
                                        </select>
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect03">Format</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- scrip pour les selecteurs de date-->
        <script>
            $(function() {
                $('[data-toggle="datepicker"]').datepicker({
                    format: 'dd/mm/yyyy',
                    autoHide: true,
                    zIndex: 2048,
                });
            });
        </script>







    {% endwith %}
{% endblock %}

{% block contenu %}
{% endblock %}

</body>
</html>