{% extends 'base.html' %}
{% block  contenu %}
    {% load static %}
    {% load filters %}


    <div class="entête">
        {% include 'dashboard.html' %}

        <div class="container ">
            <ul class="nav nav-tabs align-content-center" role="tablist">
                <li class="nav-item  px-3">
                    <a class="nav-link {% if  '/liste' in request.path %}active{% endif %}"
                       href="{% url 'listTache' %}">Tâches</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link {% if  '/calendrier' in request.path %}active{% endif %} "
                       href="{% url 'listTacheCal' %}">Calendrier</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="container">

        <div id="calendar1"></div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/fr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/lang/fr.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"/>


    <script>


        $('#calendar1').fullCalendar({
            locale: 'fr',
            events: [
                {% for tache in taches %}
                    {
                        title: '{{ tache.nomTache }}',
                        start: '{{ tache.dateDebut.isoformat }}',
                        end: '{{ tache.dateFin.isoformat }}'
                    },

                {% endfor %}
            ]

        });
    </script>
    </div>
{% endblock %}