{% block dashboard %}
    {% load static %}
    {% load filters %}


    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        Bonjour {{ request.user }}, vous êtes actuellement sur le triathlon :
                        {% if request.session.idTriathlon %}
                            <a class="nav-link"
                               href="{% url 'voirTriathlon' request.session.idTriathlon %}">
                                {{ request.session.idTriathlon | getTriathlonEnCours }}</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'choisirTriathlon' %}">Aucun triathlon selectionné</a>

                        {% endif %} </div>


                    <div class="col-6 col-md-4">
                        <a class="nav-link" href="#">
                            <img class="messagerie2" alt="messagerie" src="{% static 'img/task-8x-black.png' %}">
                            Vous avez 10 tâche(s) dont 0 en retard </a>
                        <a class="nav-link" href="#">
                            <img class="messagerie2" alt="messagerie" src="{% static 'img/people-8x-black.png' %}">
                            Vous avez 10 bénévole(s) affecté(s) </a>

                    </div>

                    <div class="col-6 col-md-4">
                        <a class="nav-link" href="#">
                            <img class="messagerie2" alt="messagerie" src="{% static 'img/euro-8x-black.png' %}">
                            Vous avez 100 euros pour {% nbrDonationPourTriatlon %}  donation(s) </a>
                        <a class="nav-link" href="#">
                            <img class="messagerie2" alt="messagerie" src="{% static 'img/wrench-8x.png' %}">
                            Vous n'avez pas de matériels manquant </a>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
