{% block navBar %}
    {% load static %}
    {% load filters %}

    {% with request.resolver_match.url_name as url_name %}
        <header class="navbar navbar-dark bg-primary navbar-expand-md bg-faded justify-content-center">
            <img class="logoit" alt="logo" src="{% static 'img/logo.png' %}"> <a href="/"
                                                                                 class="navbar-brand d-flex mr-auto">IronTask</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav mx-auto w-100 justify-content-center">
                    <li class="nav-item dropdown px-3"><a
                            class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> Triathlon </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            {% getTriathlonNonFini as triathlons %}
                            {% for triathlon in triathlons %}
                                <a class="dropdown-item"
                                   href="{% url 'selectTriathlon' triathlon.id %}">{{ triathlon }}</a>
                            {% endfor %}

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalAjoutTriathlon">
                                <img class="iconeadmin" alt="messagerie"
                                     src="{% static 'img/ajouter2.png' %}">Ajouter
                                un Triathlon</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'choisirTriathlon' %}">
                                <img class="iconeadmin" alt="messagerie"
                                     src="{% static 'img/loop-8x.png' %}">Changer
                                de Triathlon</a>
                        </div>

                    </li>

                    <li class="nav-item  px-3 "><a
                            class="nav-link{% if  '/tache/' in request.path %} active {% endif %}"
                            href="{% url 'listTache' %}">Tâches
                        <span class="sr-only">(current)</span>
                    </a></li>
                    <li class="ligne_verticale"></li>
                    <li class="nav-item {% if  '/personnel/' in request.path %}active{% endif %} px-3"><a
                            class="nav-link"
                            href="{% url 'listBenevole' %}">Personnels</a>
                    </li>
                    <li class="ligne_verticale"></li>
                    <li class="nav-item {% if  '/stock/' in request.path %}active{% endif %}  px-3"><a class="nav-link"
                                                                                                       href="{% url 'listStock' %}">Stocks</a>
                    </li>


                </ul>
                <ul class="navbar-nav ml-auto w-100 justify-content-end">


                    <li class="nav-item px-3 ">
                        <a class="nav-link" href="#">
                            <span id="noti_Counter">70</span>

                            <img class="messagerie" alt="messagerie" src="{% static 'img/bell-8x.png' %}"></a></li>


                    <li class="nav-item dropdown px-3"><a
                            class="nav-link dropdown-toggle" href="#"
                            id="navbarDropdownMenuLink1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img class="compte" alt="messagerie"
                                                                            src="{% static 'img/person-8x.png' %}">
                        {{ request.user.email }}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="#"><img class="iconeadmin" alt="messagerie"
                                                                   src="{% static 'img/moncompte.png' %}">Mon
                                compte</a>
                            <a class="dropdown-item" href="/admin"><img class="iconeadmin" alt="messagerie"
                                                                   src="{% static 'img/parametres.png' %}">Paramètres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout_user' %}" data-toggle="modal"
                               data-target="#logoutModal"><img class="iconeadmin" alt="messagerie"
                                                               src="{% static 'img/logout.png' %}">Se
                                déconnecter</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
    {% endwith %}
{% endblock %}

